<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web App Search Jobs</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    
    <div id="app">

        <div v-for="(annunci, index) in jobs" class="box">
            <div class="id">
                <h2>ANNUNCIO DI LAVORO {{annunci.id}}:</h2>
                <div>
                    <i class="far fa-heart" v-if="!starred.includes(annunci.id)" @click="aggiungi(annunci.id)"></i>
                    <i class="fas fa-heart" v-else="starred.includes(annunci.id)" @click="rimuovi(annunci.id)"></i>
                </div>
            </div>
            <div><span>COMPANY:</span> {{annunci.company}}</div>
            <div><span>POSITION:</span> {{annunci.position}}</div>
            <div class="text">
                <span>DESCRIPTION:</span>
                <p>{{annunci.description}}</p>
            </div>
            <div><span>CREATION DATE:</span> {{annunci.created_at}}</div>
            <div class="logo">
                <div><span>LOGO:</span></div>
                <img :src="annunci.logo" alt="logo">
            </div>
            <div><span>CITY:</span> {{annunci.city}}</div>
            <div><span>CONTRACT:</span> {{annunci.contract}}</div>
            <div class="button">
                <div class="button-appli" v-if="!applied.includes(annunci.id)" @click="aggiungiApply(annunci.id)">APPLY</div>
                <div class="button-applied" v-else="applied.includes(annunci.id)">APPLIED</div>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="./js/script.js"></script>

</body>
</html>
